* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.header {
    text-align: right;
    padding: 20px 0;
}

.header header {
    font-size: 24px;
    color: #333;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rigth_panel {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.login h1 {
    text-align: center;
    margin-bottom: 20px;
}

.question1 {
    text-align: center;
    margin-bottom: 20px;
}

.signup{
    font-weight: bold;
}

.signup a {
    color: black;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}

.inputs strong {
    display: block;
    margin-bottom: 20px;
}

.login_input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.checkbox{
    margin-bottom: 20px;
}
.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 48%;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.primary {
    background-color: lightblue;
    color: #fff;
    margin-left: 2px;
}

.secundary {
    background-color: #ccc;
    color: #000;
}

.left_panel {
    background-color: #fff;
    color: #007bff;
    padding: 40px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 400px;
    text-align: center;
    margin-left: 20px;
}

.left_panel img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.left_panel img {
    height: 200px;
    width: 100px;
}


.login_input2 {
    width: 100%; 
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
}

.footer footer {
    font-size: 14px;
    color: #666;
}


.dark-theme {
    background-color: #333;
    color: #fff;
}


.light-theme .rigth_panel {
    background-color: #fff;
    color: #333;
}

.light-theme .left_panel {
    background-color: #fff;
    color: #007bff;
}

.dark-theme .rigth_panel {
    background-color: rgb(27, 24, 24);
    color: #fff;
}


.dark-theme .left_panel {
    background-color: #333;
    color: #fff;
}

#themeButton {
    position: absolute;
    top: 10px;
    transition: right 0.3s ease;
}